
body{
  margin:0;
  font-family: var(--bs-font-sans-serif);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(0deg, rgba(75, 100, 139, 0.86) 0%, rgba(152, 223, 214, 1) 100%);
}
h1 {
  font-size: 48px;
  text-align: center;
  color: #000;
  text-shadow: #FFFCA8 2px 2px 0px, #9C9C9C 4px 4px 0px;
}
#gameset {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  background-color: #00235B;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 20px;
  margin: auto;
  width: 25%;
  height: auto;
  text-align: center;
  -webkit-box-shadow: 0px 0px 11px -2px #000000; 
  box-shadow: 0px 0px 11px -2px #000000;
}
label {
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 10px;
}
#size{
  margin-bottom: 10px;
  width: 25%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
#player1, #player2{
  margin-bottom: 10px;
  width: 50%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
#iniciarj{
  background-color: #E21818; 
  font-weight: bold;
  color: rgb(255, 255, 255); 
  padding: 3% 3%; 
  border: none; 
  border-radius: 4px; 
  cursor: pointer;
}
#iniciarj:hover{
  background-color: #FFDD83;
  color: #000;
}
#canvas {
  background-color: #ffffff98;
  width: auto;
  height: auto;
  margin-bottom: 10px;
  display: block;
  margin: auto;
  border: 2px solid #000000;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 11px 4px #000000; 
  box-shadow: 0px 0px 11px 4px #000000;
}
#actj{
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  background-color: #00235B;
  color: #ffffff;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 2% 2%;
  margin:auto;
  width: 20%;
  height: auto;
  text-align: center;
  -webkit-box-shadow: 0px 0px 11px -2px #000000; 
  box-shadow: 0px 0px 11px -2px #000000;
}
#player, #jug {
  font-weight: bold;
  text-align: justify;
  font-size: 20px;
}
#botonesf{
  display: flex; 
  flex-direction:row; 
  justify-content: center;
  align-items: center;
  background-color: #ffffff00;
  border: 1px solid #ffffff00;
  padding: 2% 2%;
  margin: auto;
  width: 10%;
  height: auto;
  gap: 10px;
}
#restartButton, #reiniciar{
  background-color: #E21818; 
  color: white; 
  padding: 3% 6%;  
  border: none; 
  border-radius: 4px; 
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 11px -2px #000000; 
  box-shadow: 0px 0px 11px -2px #000000;
}
#btnTabla{
  display: flex;
  background-color: #E21818; 
  color: white; 
  padding: 1% 1%; 
  border: none; 
  border-radius: 4px; 
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 11px -2px #000000; 
  box-shadow: 0px 0px 11px -2px #000000;
}
#restartButton:hover, #reiniciar:hover, #btnTabla:hover{
  background-color: #FFDD83;
  color: #000;
}
table {
  justify-content: center; 
  display: flex;
  border-collapse: collapse;
  width: 100%;
  border-radius: 10px;
  padding: 2% 2%;
  margin:auto;
  width: 20%;
  height: auto;
}
td {
  border: 1px solid #ddd;
  padding: 2px;
  text-align: left;
  font-weight: bold;
  color: #ffffff;
  -webkit-box-shadow: 0px 0px 11px -2px #000000; 
  box-shadow: 0px 0px 11px -2px #000000;
}
tr {
  background-color: #0011ff5d;
}
#jugador1p, #jugador2p, #empates {
  font-weight: bold;
  text-align: justify;
  font-size: 20px;
  color: #ffffff;
}


   
   
